/* 消息提示 */

.hintContainer {
    width: 13rem;
    position: fixed;
    z-index: 100000;
    top: 0.7rem;
    left: calc((100vw - 13rem) / 2);
}

.hintContainer>.hint {
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    border-style: solid;
    text-align: center;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    font-size: 0.95rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    animation: hint 0.2s;
}

.hintContainer>.hint[type="info"] {
    background-color: #f0faff;
    border-color: #d4eeff;
    color: #2e8bf0;
}

.hintContainer>.hint[type="warn"] {
    background-color: #fff9e6;
    border-color: #ffe7a3;
    color: #f90;
}

.hintContainer>.hint[type="success"] {
    background-color: #edfff3;
    border-color: #bbf2cf;
    color: #19bf6c;
}

.hintContainer>.hint[type="error"] {
    background-color: #ffefe6;
    border-color: #ffcfb8;
    color: #ed3f13;
}

@keyframes hint {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }
}