.homeContactsPage {
    background-color: #ededed;
    position: relative;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.homeContactsPage>.iconTextContentList {
    height: auto;
    padding-top: 0;
}

.homeContactsPage>.iconTextContentList>.iconTextTitle {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    color: #595959;
}

.homeContactsPage>.homeContactsCommonList>.iconTextContent,
.homeContactsPage>.homeContactsPersonList>.iconTextContent {
    padding: 0.5rem 0;
}

.homeContactsPage>.homeContactsCommonList>.iconTextContent>.icon,
.homeContactsPage>.homeContactsPersonList>.iconTextContent>.icon {
    width: 2.53rem;
    height: 2.53rem;
    margin-left: 1.1rem;
    border-radius: 0.26rem;
}

.homeContactsPage>.homeContactsPersonList>.countFriendsNumber {
    text-align: center;
    padding: 0.9rem 0;
    color: #595959;
    background-color: white;
}

.homeContactsPageRightMenu {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0.5rem;
    font-size: 0.68rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeContactsPageRightMenu>div {
    margin: 0.1rem 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.homeContactsPageRightMenu>div.active {
    color: white;
    background-color: var(--textColor--green1);
}

/* 第一个箭头元素，没有背景色和文本颜色 */

.homeContactsPageRightMenu>div:first-child {
    color: black;
    background-color: transparent;
}

.homeContactsPageRightMenuLetter {
    position: fixed;
    z-index: 1;
    top: 10.5rem;
    right: 3.3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-size: 1.6rem;
    display: none;
}

.homeContactsPageRightMenuLetter::after {
    content: '';
    width: 0;
    height: 0;
    border: 1.55rem solid #d0d0d0;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: rotate(45deg);
}