.initiateTransferPage {
    z-index: 999;
    background-color: var(--bgColor--gray1);
    display: none;
}

.initiateTransferPage>.pageTop {
    border-bottom: none;
}

.transferPayeeInfo {
    width: 100%;
    height: 6.5rem;
}

.transferPayeeInfoTo {
    top: 2.2rem;
    left: 2.2rem;
}

.transferPayeeInfoWx {
    top: 3.6rem;
    left: 2.2rem;
    font-size: 0.86rem;
    color: rgb(120, 120, 120);
}

.transferPayeeInfoAvatar {
    width: 2.7rem;
    height: 2.7rem;
    background-image: url(http://101.126.16.211/upload/compress/2024/08/24/117.129.76.35-1724507233426-img1.juimg.jpeg);
    top: 2.2rem;
    right: 2.2rem;
}

.writeTransferMoney {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
}

.writeTransferMoney>.zzjeibox {
    width: calc(100% - 4.4rem);
    text-align: center;
    font-family: WeChatSansSS-Medium;
    top: 4.2rem;
    left: 2.2rem;
    font-size: 3.5rem;
    display: flex;
    border-bottom: 1px solid var(--bgColor--gray2);
    position: relative;
}

.zzjeibox>.rmbMark {
    width: 1.9rem;
}

.transferMoneyInp {
    border: none;
    width: 100%;
    padding-bottom: 0.2rem;
    font-size: inherit;
    font-family: inherit;
    caret-color: var(--textColor--green1);
}

.transferMoneyUnit {
    width: 2rem;
    text-align: center;
    position: absolute;
    z-index: 9;
    bottom: -1rem;
    left: 2.05rem;
    font-size: 0.65rem;
    color: #8f8f8f;
    display: none;
}

.transferMoneyUnit::before {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background-color: white;
    border-top: 1px solid var(--bgColor--gray2);
    border-left: 1px solid var(--bgColor--gray2);
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0.3rem;
    position: absolute;
    top: -0.3rem;
    left: 0.75rem;
    z-index: 1;
    transform: rotate(45deg);
}

.transferMoneyInp:focus {
    outline: none;
}

.writeTransferMoney>.zzje {
    top: 2rem;
    left: 2.2rem;
    font-size: 0.85rem;
}

.writeTransferMoney>.showAddTransferRemarkBox {
    top: 10.3rem;
    left: 2.2rem;
    font-size: 0.88rem;
    font-weight: 500;
}

.writeTransferMoney>.showAddTransferRemarkBox>span {
    color: var(--textColor--blue2);
}

/* 添加转账说明 */

.addTransferRemarkBox {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
    display: none;
}

.addTransferRemark {
    width: 100%;
    height: 18rem;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    bottom: 0;
    animation: moveUp 0.2s;
}

.addTransferRemarkTitle {
    margin-top: 1.3rem;
    margin-left: 8%;
    font-weight: 500;
}

.transferRemarkInp {
    margin-top: 1.3rem;
    width: 84%;
    height: 3.3rem;
    margin-left: 8%;
    border: none;
    font-size: 1.03rem;
    border-top: 1px solid var(--borderColor--gray1);
    border-bottom: 1px solid var(--borderColor--gray1);
    caret-color: var(--textColor--green1);
}

.addTransferRemarkOperate {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.transferRemarkCancel,
.transferRemarkAffirm {
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: #ededed;
    font-weight: 500;
}

.transferRemarkAffirm {
    color: white;
    background-color: #00c453;
}

/* 自制转账金额键盘 */

.transferKeyboard {
    width: 100%;
    padding-bottom: 0.45rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    font-family: WeChatSansSS-Medium;
    font-size: 1.28rem;
    border-top: 1px solid #cfcfcf37;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    text-align: center;
    display: none;
}

.transferKeyboard>* {
    display: inline-block;
    background-color: white;
    height: 3rem;
    line-height: 3rem;
    width: 22.5%;
    border-radius: 0.2rem;
    margin-top: 0.45rem;
}

.transferKeyboardBs {
    background-image: url(../../assets/img/initiateTransfer/transferKeyboardBs.png);
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
}

.transferKeyboardAffirm {
    height: 9.9rem;
    line-height: 9.9rem;
    background-color: #00c453;
    font-size: 1rem;
    color: white;
    position: absolute;
    right: 2%;
    top: 3.45rem;
}