.myWalletPage {
    z-index: 9;
    display: none;
}

.myWalletPageIconTextContentList {
    padding-top: 0;
}

.myWalletPageBottom {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    font-size: 0.88rem;
    color: var(--textColor--blue2);
    font-weight: 450;
}

.myWalletPageBottom>.verticalBar {
    color: rgb(213, 213, 213);
    font-size: 1rem;
    transform: translateY(-0.1rem);
    display: inline-block;
}

.myWalletPageIconTextContentList>.iconTextContent>.looseChange,
.myWalletPageIconTextContentList>.iconTextContent>.changeCard {
    position: absolute;
    top: auto;
    right: 2.3rem;
}

.myWalletPageIconTextContentList>.iconTextContent>.yieldRate {
    color: #ff8d1a;
    font-size: 0.75rem;
    margin-left: 0.5rem;
}